$font-stack: 'Arimo', sans-serif;

* {
  font-family: $font-stack;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  font-family: $font-stack;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
}

body,html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  max-height: 100%;
  max-width: 100%;
}
