#project-wrapper{
  background: #93A9BD;
  height: 100%;
  width: 100%;
  .welcome-container {
    margin: 60px 0 60px 0;
    h2.welcome-title {
      color: #fff;
      text-align: center;
      margin: 15px 0 15px 0;
    }
    h3.title {
      color: #fff;
      text-align: center;
      margin: 15px 0 15px 0;
    }
  }
}


div.thumb {
  width: 22%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;

}
